<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;cursor: pointer;" >Employee Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" style="cursor: pointer;">Add Customer <span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
       <input type="search"
       name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required>
    </form>

  </div>
</nav>


<div class="container" id="main-container">
  <div class="row" style="margin-top: 50px;" >



    <table class="table table-hover text-center" id="httptrace-table" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Job Title</th>
          <th>Phone</th>
          <th>Gender</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody >
        <tr>
          <td ><span >name</span></td>
          <td ><span>email</span></td>
          <td ><span>jobTitle</span></td>
          <td  ><span>phone</span></td>
          <td ><span>gender</span></td>
          <td>
            <button  class="btn btn-sm btn-info"><i class="fa fa-eye"></i>View</button>
            <button class="btn btn-sm btn-warning"><i class="fa fa-edit" ></i>Edit</button>
            <button  class="btn btn-sm btn-danger"><i class="fa fa-times" style="color:rgb(253, 253, 253)"></i>Delete</button>
        </td>
      </tr>

      </tbody>
    </table>
    </div>


</div>













